<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for Tests" ToolsVersion="15.0">
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.EditorFeatures" RuleNamespace="Microsoft.CodeAnalysis.CSharp.EditorFeatures">
    <Rule Id="IDE0031" Action="None" />
    <Rule Id="IDE0031WithoutSuggestion" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0001" Action="None" />
    <Rule Id="IDE0002" Action="None" />
    <Rule Id="IDE0003" Action="None" />
    <Rule Id="IDE0004" Action="None" />
    <Rule Id="IDE0005" Action="None" />
    <Rule Id="IDE0007" Action="None" />
    <Rule Id="IDE0007WithoutSuggestion" Action="None" />
    <Rule Id="IDE0008" Action="None" />
    <Rule Id="IDE0008WithoutSuggestion" Action="None" />
    <Rule Id="IDE0009" Action="None" />
    <Rule Id="IDE0009WithoutSuggestion" Action="None" />
    <Rule Id="IDE0011" Action="None" />
    <Rule Id="IDE0011WithoutSuggestion" Action="None" />
    <Rule Id="IDE0012" Action="None" />
    <Rule Id="IDE0013" Action="None" />
    <Rule Id="IDE0014" Action="None" />
    <Rule Id="IDE0015" Action="None" />
    <Rule Id="IDE0016" Action="None" />
    <Rule Id="IDE0016WithoutSuggestion" Action="None" />
    <Rule Id="IDE0017" Action="None" />
    <Rule Id="IDE0017WithoutSuggestion" Action="None" />
    <Rule Id="IDE0018" Action="None" />
    <Rule Id="IDE0018WithoutSuggestion" Action="None" />
    <Rule Id="IDE0019" Action="None" />
    <Rule Id="IDE0019WithoutSuggestion" Action="None" />
    <Rule Id="IDE0020" Action="None" />
    <Rule Id="IDE0020WithoutSuggestion" Action="None" />
    <Rule Id="IDE0021" Action="None" />
    <Rule Id="IDE0021WithoutSuggestion" Action="None" />
    <Rule Id="IDE0022" Action="None" />
    <Rule Id="IDE0022WithoutSuggestion" Action="None" />
    <Rule Id="IDE0023" Action="None" />
    <Rule Id="IDE0023WithoutSuggestion" Action="None" />
    <Rule Id="IDE0024" Action="None" />
    <Rule Id="IDE0024WithoutSuggestion" Action="None" />
    <Rule Id="IDE0025" Action="None" />
    <Rule Id="IDE0025WithoutSuggestion" Action="None" />
    <Rule Id="IDE0026" Action="None" />
    <Rule Id="IDE0026WithoutSuggestion" Action="None" />
    <Rule Id="IDE0027" Action="None" />
    <Rule Id="IDE0027WithoutSuggestion" Action="None" />
    <Rule Id="IDE0028" Action="None" />
    <Rule Id="IDE0028WithoutSuggestion" Action="None" />
    <Rule Id="IDE0029" Action="None" />
    <Rule Id="IDE0029WithoutSuggestion" Action="None" />
    <Rule Id="IDE0030" Action="None" />
    <Rule Id="IDE0030WithoutSuggestion" Action="None" />
    <Rule Id="IDE1005" Action="None" />
    <Rule Id="IDE1005WithoutSuggestion" Action="None" />
    <Rule Id="IDE1006" Action="None" />
    <Rule Id="IDE1006WithoutSuggestion" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.Features" RuleNamespace="Microsoft.CodeAnalysis.Features">
    <Rule Id="IDE0010" Action="None" />
    <Rule Id="IDE0010WithoutSuggestion" Action="None" />
  </Rules>
  <Rules AnalyzerId="Roslynator.CSharp.Analyzers" RuleNamespace="Roslynator.CSharp.Analyzers">
    <Rule Id="RCS1001" Action="Warning" />
    <Rule Id="RCS1002" Action="Warning" />
    <Rule Id="RCS1002FadeOut" Action="Hidden" />
    <Rule Id="RCS1003" Action="Warning" />
    <Rule Id="RCS1004" Action="Warning" />
    <Rule Id="RCS1004FadeOut" Action="Hidden" />
    <Rule Id="RCS1006" Action="Info" />
    <Rule Id="RCS1007" Action="Info" />
    <Rule Id="RCS1008" Action="Info" />
    <Rule Id="RCS1009" Action="Info" />
    <Rule Id="RCS1010" Action="Info" />
    <Rule Id="RCS1012" Action="Hidden" />
    <Rule Id="RCS1013" Action="Warning" />
    <Rule Id="RCS1014" Action="Warning" />
    <Rule Id="RCS1016" Action="Info" />
    <Rule Id="RCS1016FadeOut" Action="Hidden" />
    <Rule Id="RCS1017" Action="Warning" />
    <Rule Id="RCS1018" Action="Warning" />
    <Rule Id="RCS1019" Action="Warning" />
    <Rule Id="RCS1022" Action="Hidden" />
    <Rule Id="RCS1022FadeOut" Action="Hidden" />
    <Rule Id="RCS1025" Action="Info" />
    <Rule Id="RCS1026" Action="Warning" />
    <Rule Id="RCS1027" Action="Warning" />
    <Rule Id="RCS1028" Action="Warning" />
    <Rule Id="RCS1029" Action="Warning" />
    <Rule Id="RCS1030" Action="Warning" />
    <Rule Id="RCS1034" Action="Info" />
    <Rule Id="RCS1036" Action="Warning" />
    <Rule Id="RCS1037" Action="Warning" />
    <Rule Id="RCS1039" Action="Info" />
    <Rule Id="RCS1040" Action="Info" />
    <Rule Id="RCS1042" Action="Info" />
    <Rule Id="RCS1043" Action="Info" />
    <Rule Id="RCS1045" Action="Warning" />
    <Rule Id="RCS1046" Action="Warning" />
    <Rule Id="RCS1047" Action="Warning" />
    <Rule Id="RCS1049" Action="Warning" />
    <Rule Id="RCS1050" Action="Info" />
    <Rule Id="RCS1051" Action="Info" />
    <Rule Id="RCS1052" Action="Info" />
    <Rule Id="RCS1054" Action="Info" />
    <Rule Id="RCS1055" Action="Warning" />
    <Rule Id="RCS1056" Action="Warning" />
    <Rule Id="RCS1057" Action="Warning" />
    <Rule Id="RCS1060" Action="Warning" />
    <Rule Id="RCS1061" Action="Warning" />
    <Rule Id="RCS1062" Action="Info" />
    <Rule Id="RCS1064" Action="Warning" />
    <Rule Id="RCS1065" Action="Warning" />
    <Rule Id="RCS1066" Action="Info" />
    <Rule Id="RCS1067" Action="Hidden" />
    <Rule Id="RCS1069" Action="Info" />
    <Rule Id="RCS1070" Action="Info" />
    <Rule Id="RCS1071" Action="Info" />
    <Rule Id="RCS1073" Action="Info" />
    <Rule Id="RCS1073FadeOut" Action="Hidden" />
    <Rule Id="RCS1074" Action="Info" />
    <Rule Id="RCS1077" Action="Warning" />
    <Rule Id="RCS1078" Action="Info" />
    <Rule Id="RCS1079" Action="Warning" />
    <Rule Id="RCS1080" Action="Warning" />
    <Rule Id="RCS1081" Action="Warning" />
    <Rule Id="RCS1087" Action="Warning" />
    <Rule Id="RCS1088" Action="Warning" />
    <Rule Id="RCS1089" Action="Warning" />
    <Rule Id="RCS1090" Action="Warning" />
    <Rule Id="RCS1092" Action="Warning" />
    <Rule Id="RCS1093" Action="Warning" />
    <Rule Id="RCS1094" Action="Warning" />
    <Rule Id="RCS1095" Action="Warning" />
    <Rule Id="RCS1100" Action="Info" />
    <Rule Id="RCS1101" Action="Info" />
    <Rule Id="RCS1106" Action="Warning" />
    <Rule Id="RCS1111" Action="Warning" />
    <Rule Id="RCS1112" Action="Warning" />
    <Rule Id="RCS1124" Action="Info" />
    <Rule Id="RCS1126" Action="Info" />
    <Rule Id="RCS1134" Action="Warning" />
    <Rule Id="RCS1136" Action="Info" />
    <Rule Id="RCS1140" Action="Info" />
    <Rule Id="RCS1141" Action="Warning" />
    <Rule Id="RCS1142" Action="Warning" />
    <Rule Id="RCS1153" Action="Warning" />
    <Rule Id="RCS1176" Action="Info" />
    <Rule Id="RCS1177" Action="Info" />
    <Rule Id="RCS1181" Action="Info" />
    <Rule Id="RCS1184" Action="Info" />
    <Rule Id="RCS1185" Action="Info" />
    <Rule Id="RCS1186" Action="Info" />
    <Rule Id="RCS1198" Action="Warning" />
    <Rule Id="RCS1201" Action="Info" />
    <Rule Id="RCS1207" Action="Info" />
    <Rule Id="RCS1208" Action="Info" />
  </Rules>
</RuleSet>