# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Code files
[*.{cs,csx}]
roslynator_accessibility_modifiers = explicit
roslynator_accessor_braces_style = single_line_when_expression_is_on_single_line
roslynator_array_creation_type_style = implicit_when_type_is_obvious
roslynator_arrow_token_new_line = before
roslynator_binary_operator_new_line = before
roslynator_blank_line_between_closing_brace_and_switch_section = false
roslynator_blank_line_between_single_line_accessors = false
roslynator_blank_line_between_using_directives = never
roslynator_block_braces_style = multi_line
roslynator_conditional_operator_condition_parentheses_style = include
roslynator_conditional_operator_new_line = before
roslynator_configure_await = true
roslynator_empty_string_style = literal
roslynator_enum_has_flag_style = operator
roslynator_equals_token_new_line = before
roslynator_max_line_length = 140
roslynator_new_line_at_end_of_file = true
roslynator_new_line_before_while_in_do_statement = false
roslynator_null_conditional_operator_new_line = after
roslynator_null_check_style = pattern_matching
roslynator_object_creation_parentheses_style = include
roslynator_object_creation_type_style = implicit_when_type_is_obvious
roslynator_prefix_field_identifier_with_underscore = true
roslynator_use_anonymous_function_or_method_group = anonymous_function
roslynator_use_block_body_when_declaration_spans_over_multiple_lines = true
roslynator_use_block_body_when_expression_spans_over_multiple_lines = true
roslynator_use_var_instead_of_implicit_object_creation = true

dotnet_diagnostic.RCS0001.severity = suggestion
dotnet_diagnostic.RCS0003.severity = suggestion
dotnet_diagnostic.RCS0004.severity = suggestion
dotnet_diagnostic.RCS0006.severity = suggestion
dotnet_diagnostic.RCS0008.severity = suggestion
dotnet_diagnostic.RCS0009.severity = suggestion
dotnet_diagnostic.RCS0010.severity = suggestion
dotnet_diagnostic.RCS0011.severity = suggestion
dotnet_diagnostic.RCS0013.severity = suggestion
dotnet_diagnostic.RCS0015.severity = suggestion
dotnet_diagnostic.RCS0016.severity = suggestion
dotnet_diagnostic.RCS0021.severity = suggestion
dotnet_diagnostic.RCS0022.severity = suggestion
dotnet_diagnostic.RCS0023.severity = suggestion
dotnet_diagnostic.RCS0024.severity = suggestion
dotnet_diagnostic.RCS0025.severity = suggestion
dotnet_diagnostic.RCS0027.severity = suggestion
dotnet_diagnostic.RCS0028.severity = suggestion
dotnet_diagnostic.RCS0030.severity = suggestion
dotnet_diagnostic.RCS0031.severity = suggestion
dotnet_diagnostic.RCS0032.severity = suggestion
dotnet_diagnostic.RCS0033.severity = suggestion
dotnet_diagnostic.RCS0038.severity = suggestion
dotnet_diagnostic.RCS0039.severity = suggestion
dotnet_diagnostic.RCS0041.severity = suggestion
dotnet_diagnostic.RCS0042.severity = suggestion
dotnet_diagnostic.RCS0043.severity = suggestion
dotnet_diagnostic.RCS0044.severity = suggestion
dotnet_diagnostic.RCS0046.severity = suggestion
dotnet_diagnostic.RCS0048.severity = silent
dotnet_diagnostic.RCS0049.severity = suggestion
dotnet_diagnostic.RCS0050.severity = suggestion
dotnet_diagnostic.RCS0051.severity = suggestion
dotnet_diagnostic.RCS0053.severity = suggestion
dotnet_diagnostic.RCS0054.severity = suggestion
dotnet_diagnostic.RCS0055.severity = suggestion
dotnet_diagnostic.RCS0057.severity = suggestion
dotnet_diagnostic.RCS0058.severity = suggestion
dotnet_diagnostic.RCS0059.severity = suggestion
dotnet_diagnostic.RCS1002.severity = silent
dotnet_diagnostic.RCS1006.severity = suggestion
dotnet_diagnostic.RCS1008.severity = suggestion
dotnet_diagnostic.RCS1009.severity = suggestion
dotnet_diagnostic.RCS1010.severity = suggestion
dotnet_diagnostic.RCS1013.severity = suggestion
dotnet_diagnostic.RCS1014.severity = suggestion
dotnet_diagnostic.RCS1016.severity = suggestion
dotnet_diagnostic.RCS1017.severity = suggestion
dotnet_diagnostic.RCS1018.severity = warning
dotnet_diagnostic.RCS1019.severity = suggestion
dotnet_diagnostic.RCS1034.severity = suggestion
dotnet_diagnostic.RCS1037.severity = warning
dotnet_diagnostic.RCS1039.severity = suggestion
dotnet_diagnostic.RCS1040.severity = suggestion
dotnet_diagnostic.RCS1042.severity = suggestion
dotnet_diagnostic.RCS1043.severity = suggestion
dotnet_diagnostic.RCS1045.severity = warning
dotnet_diagnostic.RCS1050.severity = suggestion
dotnet_diagnostic.RCS1051.severity = suggestion
dotnet_diagnostic.RCS1060.severity = suggestion
dotnet_diagnostic.RCS1061.severity = suggestion
dotnet_diagnostic.RCS1062.severity = suggestion
dotnet_diagnostic.RCS1064.severity = suggestion
dotnet_diagnostic.RCS1066.severity = suggestion
dotnet_diagnostic.RCS1069.severity = suggestion
dotnet_diagnostic.RCS1070.severity = suggestion
dotnet_diagnostic.RCS1071.severity = suggestion
dotnet_diagnostic.RCS1074.severity = suggestion
dotnet_diagnostic.RCS1076.severity = none
dotnet_diagnostic.RCS1078.severity = suggestion
dotnet_diagnostic.RCS1079.severity = suggestion
dotnet_diagnostic.RCS1081.severity = suggestion
dotnet_diagnostic.RCS1082.severity = suggestion
dotnet_diagnostic.RCS1083.severity = suggestion
dotnet_diagnostic.RCS1090.severity = suggestion
dotnet_diagnostic.RCS1091.severity = suggestion
dotnet_diagnostic.RCS1096.severity = warning
dotnet_diagnostic.RCS1101.severity = suggestion
dotnet_diagnostic.RCS1111.severity = suggestion
dotnet_diagnostic.RCS1124.severity = suggestion
dotnet_diagnostic.RCS1126.severity = warning
dotnet_diagnostic.RCS1129.severity = suggestion
dotnet_diagnostic.RCS1133.severity = suggestion
dotnet_diagnostic.RCS1134.severity = suggestion
dotnet_diagnostic.RCS1136.severity = suggestion
dotnet_diagnostic.RCS1138.severity = suggestion
dotnet_diagnostic.RCS1139.severity = suggestion
dotnet_diagnostic.RCS1143.severity = suggestion
dotnet_diagnostic.RCS1145.severity = suggestion
dotnet_diagnostic.RCS1151.severity = suggestion
dotnet_diagnostic.RCS1162.severity = suggestion
dotnet_diagnostic.RCS1188.severity = suggestion
dotnet_diagnostic.RCS1189.severity = suggestion
dotnet_diagnostic.RCS1207.severity = suggestion
dotnet_diagnostic.RCS1244.severity = suggestion
dotnet_diagnostic.RCS1250.severity = suggestion

dotnet_diagnostic.IDE0007.severity = none
dotnet_diagnostic.IDE0007WithoutSuggestion.severity = none
dotnet_diagnostic.IDE0008.severity = none
dotnet_diagnostic.IDE0008WithoutSuggestion.severity = none
dotnet_diagnostic.IDE0010.severity = none
dotnet_diagnostic.IDE0010WithoutSuggestion.severity = none
dotnet_diagnostic.IDE0011.severity = none
dotnet_diagnostic.IDE0011WithoutSuggestion.severity = none
dotnet_diagnostic.IDE0021.severity = none
dotnet_diagnostic.IDE0021WithoutSuggestion.severity = none
dotnet_diagnostic.IDE0022.severity = none
dotnet_diagnostic.IDE0022WithoutSuggestion.severity = none
dotnet_diagnostic.IDE0023.severity = none
dotnet_diagnostic.IDE0023WithoutSuggestion.severity = none
dotnet_diagnostic.IDE0024.severity = none
dotnet_diagnostic.IDE0024WithoutSuggestion.severity = none
dotnet_diagnostic.IDE0025.severity = none
dotnet_diagnostic.IDE0025WithoutSuggestion.severity = none
dotnet_diagnostic.IDE0026.severity = none
dotnet_diagnostic.IDE0026WithoutSuggestion.severity = none
dotnet_diagnostic.IDE0027.severity = none
dotnet_diagnostic.IDE0027WithoutSuggestion.severity = none
dotnet_diagnostic.IDE0028.severity = suggestion
dotnet_diagnostic.IDE0029.severity = suggestion
dotnet_diagnostic.IDE0031.severity = suggestion
dotnet_diagnostic.IDE0033.severity = suggestion
dotnet_diagnostic.IDE0034.severity = none
dotnet_diagnostic.IDE0046.severity = none
dotnet_diagnostic.IDE0046WithoutSuggestion.severity = none
dotnet_diagnostic.IDE0047.severity = none
dotnet_diagnostic.IDE0047WithoutSuggestion.severity = none
dotnet_diagnostic.IDE0054.severity = none
dotnet_diagnostic.IDE0054WithoutSuggestion.severity = none
dotnet_diagnostic.IDE0056.severity = none
dotnet_diagnostic.IDE0057.severity = none
dotnet_diagnostic.IDE0063.severity = none
dotnet_diagnostic.IDE0063WithoutSuggestion.severity = none
dotnet_diagnostic.IDE0066.severity = silent
dotnet_diagnostic.IDE0066WithoutSuggestion.severity = none
dotnet_diagnostic.IDE0071.severity = none
dotnet_diagnostic.IDE0071WithoutSuggestion.severity = none
dotnet_diagnostic.IDE0074.severity = none
dotnet_diagnostic.IDE0074WithoutSuggestion.severity = none
dotnet_diagnostic.IDE0079.severity = none
dotnet_diagnostic.IDE0090.severity = none
dotnet_diagnostic.IDE1005.severity = suggestion
dotnet_diagnostic.IDE1006.severity = suggestion

dotnet_diagnostic.RS1024.severity = none # Compare symbols correctly
dotnet_diagnostic.RS1025.severity = none
dotnet_diagnostic.RS1026.severity = none
