<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.CoreUtility" version="15.0.26201" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6071" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.SDK.Analyzers" version="15.8.36" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.15.0" version="15.0.26201" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Framework" version="15.0.26201" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="15.8.168" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Utilities" version="15.0.26201" targetFramework="net46" />
  <package id="Microsoft.VSSDK.BuildTools" version="16.5.1032" targetFramework="net472" developmentDependency="true" />
</packages>