<?xml version="1.0" encoding="utf-8"?>
<Roslynator>
  <Include Path="%LOCALAPPDATA%\JosefPihrt\Roslynator\roslynator.config" />
  <Include Path="%LOCALAPPDATA%\JosefPihrt\Roslynator\VisualStudio\roslynator.config" />
  <Include Path="%LOCALAPPDATA%\JosefPihrt\Roslynator\VisualStudio\2019\roslynator.config" />
  <Settings>
    <General>
      <PrefixFieldIdentifierWithUnderscore>false</PrefixFieldIdentifierWithUnderscore>
    </General>
    <Formatting>
      <MaxLineLength>125</MaxLineLength>
    </Formatting>
    <RuleSets>
      <RuleSet Path="%LOCALAPPDATA%\JosefPihrt\Roslynator\roslynator.ruleset" />
      <RuleSet Path="%LOCALAPPDATA%\JosefPihrt\Roslynator\VisualStudio\roslynator.ruleset" />
      <RuleSet Path="%LOCALAPPDATA%\JosefPihrt\Roslynator\VisualStudio\2019\roslynator.ruleset" />
    </RuleSets>
    <Refactorings>
      <Refactoring Id="RR0010" IsEnabled="false" /> <!-- Add identifier to variable declaration -->
      <Refactoring Id="RR0012" IsEnabled="false" /> <!-- Add identifier to parameter -->
      <Refactoring Id="RR0066" IsEnabled="false" /> <!-- Introduce constructor -->
      <Refactoring Id="RR0088" IsEnabled="false" /> <!-- Remove all documentation comments -->
      <Refactoring Id="RR0138" IsEnabled="false" /> <!-- Replace method with property -->
      <Refactoring Id="RR0171" IsEnabled="false" /> <!-- Use string.Empty instead of "" -->
      <Refactoring Id="RR0188" IsEnabled="false" /> <!-- Replace foreach with for and reverse loop -->
    </Refactorings>
    <CodeFixes>
      <CodeFix Id="RCF0052" IsEnabled="false" /> <!-- Remove 'return' keyword (fixes CS0127, CS1997) -->
      <CodeFix Id="RCF0057" IsEnabled="false" /> <!-- Remove return expression (fixes CS0127, CS1997) -->
    </CodeFixes>
  </Settings>
</Roslynator>