<?xml version="1.0" encoding="utf-8"?>
<Roslynator>
  <Include Path="%LOCALAPPDATA%\JosefPihrt\Roslynator\roslynator.config" />
  <Include Path="%LOCALAPPDATA%\JosefPihrt\Roslynator\VisualStudio\roslynator.config" />
  <Include Path="%LOCALAPPDATA%\JosefPihrt\Roslynator\VisualStudio\2022\roslynator.config" />
  <Include Path="%LOCALAPPDATA%\JosefPihrt\Roslynator\.roslynatorconfig" />
  <Include Path="%LOCALAPPDATA%\JosefPihrt\Roslynator\VisualStudio\.roslynatorconfig" />
  <Include Path="%LOCALAPPDATA%\JosefPihrt\Roslynator\VisualStudio\2022\.roslynatorconfig" />
  <Settings>
    <RuleSets>
      <RuleSet Path="%LOCALAPPDATA%\JosefPihrt\Roslynator\roslynator.ruleset" />
      <RuleSet Path="%LOCALAPPDATA%\JosefPihrt\Roslynator\VisualStudio\roslynator.ruleset" />
      <RuleSet Path="%LOCALAPPDATA%\JosefPihrt\Roslynator\VisualStudio\2022\roslynator.ruleset" />
    </RuleSets>
  </Settings>
</Roslynator>