<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Roslynator.CommandLine Ruleset" ToolsVersion="15.0">
  <Include Path="..\global.ruleset" Action="Default" />
  <Rules AnalyzerId="Roslynator.CSharp.Analyzers" RuleNamespace="Roslynator.CSharp.Analyzers">
    <Rule Id="RCS1090" Action="None" />
  </Rules>
</RuleSet>