<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.SDK.Analyzers" version="15.8.36" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="15.8.209" targetFramework="net46" />
  <package id="Microsoft.VSSDK.BuildTools" version="15.9.3032" targetFramework="net46" developmentDependency="true" />
</packages>