<?xml version="1.0" encoding="utf-8"?>
<Roslynator>
  <Include Path="%LOCALAPPDATA%/JosefPihrt/Roslynator/.roslynatorconfig" />
  <Include Path="%LOCALAPPDATA%/JosefPihrt/Roslynator/VisualStudioCode/.roslynatorconfig" />
  <Settings>
    <RuleSets>
      <RuleSet Path="%LOCALAPPDATA%/JosefPihrt/Roslynator/VisualStudioCode/roslynator.ruleset" />
    </RuleSets>
  </Settings>
</Roslynator>