# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Code files
[*.{cs,csx}]
roslynator.prefer_implicit_object_creation_when_type_is_obvious = true
roslynator.prefer_var_instead_of_implicit_object_creation = true
roslynator.RCS0011.invert = true
roslynator.RCS0015.invert = true
roslynator.RCS0051.invert = true
roslynator.RCS1014.use_implicit_type_when_obvious = true
roslynator.RCS1016.use_block_body_when_declaration_is_multiline = true
roslynator.RCS1016.use_block_body_when_expression_is_multiline = true
roslynator.RCS1036.remove_empty_line_between_closing_brace_and_switch_section = true
roslynator.RCS1045.suppress_when_field_is_static = true
roslynator.RCS1207.invert = true
roslynator.RCS1246.suppress_when_expression_is_invocation = true
